<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:insert="~{basicHead}"></head>
<head>
    <title>Hardware</title>

    <link th:href="@{/css/header-style.css}" rel="stylesheet">
    <link th:href="@{/css/table.css}" rel="stylesheet">
</head>
<body>
<div th:insert="~{/navbar}"></div>

<div class="container-fluid">
    <div class="header-h1"><h1>Hardware</h1></div>

    <div sec:authorize="hasAuthority('ROLE_Admin')">
        <a th:href="@{/hardware/add}" type="button"
           class="btn btn-primary mb-2">Add Hardware</a>
    </div>

    <div class="text-center">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Manufacturer</th>
                <th>Name</th>
                <th>S/N</th>
                <th>Description</th>
                <th>Production Date</th>
                <th>Installation Date</th>
                <th>Installation Address</th>
                <th>Owner Phone</th>
                <th>Owner Email</th>
                <th>Action</th>
            </tr>
            </thead>

            <tbody>
            <th:block th:each="hardware : ${hardwareList}">
                <tr>
                    <td style="display: none" id="uuid">[[${hardware.uuid}]]</td>
                    <td>[[${hardware.manufacturer}]]</td>
                    <td>[[${hardware.name}]]</td>
                    <td>[[${hardware.serialNumber}]]</td>
                    <td>[[${hardware.description}]]</td>
                    <td>[[${hardware.manufacturingDate}]]</td>
                    <td>[[${hardware.installationDate}]]</td>
                    <td>[[${hardware.installationAddress}]]</td>
                    <td>[[${hardware.ownerPhoneNumber}]]</td>
                    <td>[[${hardware.ownerEmail}]]</td>

                    <td>
                        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
<!--                            Admin can do all the CRUD ops-->
                            <div sec:authorize="hasAuthority('ROLE_Admin')" class="btn-group me-2" role="group" aria-label="Second group">
                                <a th:href="@{'/hardware/' + ${hardware.uuid} + '/edit'}" type="button"
                                   class="btn btn-outline-primary">Edit</a>
                                <a type="button" class="btn btn-outline-primary"
                                   th:href="@{'/hardware/maintenanceDates/' + ${hardware.uuid}}">Maintenance dates</a>
                                <button onclick="doDelete()" type="button"
                                        class="btn btn-outline-danger">Remove
                                </button>
                            </div>
<!--                            If user hasn't Admin authority-->
                            <div sec:authorize="!hasAuthority('ROLE_Admin')" class="btn-group me-2" role="group" aria-label="Second group">
                                <a type="button" class="btn btn-outline-primary"
                                   th:href="@{'/hardware/maintenanceDates/' + ${hardware.uuid}}">Maintenance dates</a>
                            </div>
                        </div>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</div>

<script src="/js/hardware.js"></script>

</body>
</html>