<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Manufacturers</title>
  <link rel = "stylesheet" type="text/css" th:href="@{/webjars/boostrap/css/boostrap.min.css}"/>
</head>
<body>
<div class="container-fluid text-center">
  <div><h2>Hardware</h2></div>
  <div>
    <a class="h4" th:href="@{/hardware/new}">Add Hardware</a>
  </div>
  <div>
    <table border="1">
      <thead class="thead-dark">
      <tr>
        <th>UUID</th>
        <th>Manufacturer</th>
        <th>Name</th>
        <th>S/N</th>
        <th>Description</th>
        <th>Manufacturing Date</th>
        <th>Installation Date</th>
        <th>Installation Address</th>
        <th>Owner Phone</th>
        <th>Owner Email</th>
        <th>Maintenance Dates</th>

      </tr>
      </thead>
      <tbody>
      <th:block th:each="hardware : ${hardwareList}">
        <tr>
          <td>[[${hardware.uuid}]]</td>
          <td>[[${hardware.manufacturer}]]</td>
          <td>[[${hardware.name}]]</td>
          <td>[[${hardware.serialNumber}]]</td>
          <td>[[${hardware.description}]]</td>
          <td>[[${hardware.manufacturingDate}]]</td>
          <td>[[${hardware.installationDate}]]</td>
          <td>[[${hardware.installationAddress}]]</td>
          <td>[[${hardware.ownerPhoneNumber}]]</td>
          <td>[[${hardware.ownerEmail}]]</td>
          <td>[[${hardware.maintenanceDates}]]</td>
          <td sec:authorize="hasAnyAuthority('Admin')">
            <a class="h4 mr-3" th:href="@{'/hardware/edit/' + ${hardware.uuid}}">Edit</a>
            <a class="h4" th:href="@{'/hardware/delete/' + ${hardware.uuid}}">Delete</a>
          </td>
        </tr>
      </th:block>
      </tbody>
    </table>
    <form th:action="@{/logout}" method="post">
      <input type="submit" value="Logout" />
    </form>
  </div>
</div>
</body>
</html>