<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:insert="~{basicHead}"></head>
<head>
    <title>Login</title>

    <link th:href="@{/css/login-page.css}" rel="stylesheet">
</head>

<body>
<section class="vh-100">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img th:src="@{/images/main.png}"
                     class="img-fluid" alt="App logo">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <form th:action="@{/login}" method="post">
                    <div>
                        <h1 class="mb-4">Log In page</h1>

                        <div th:if="${param.error}" class="alert alert-danger p-2 m-2" role="alert">
                            Invalid username or/and password.
                        </div>

                        <div th:if="${param.logout}" class="alert alert-success p-2 m-2" role="alert">
                            You have been logged out.
                        </div>
                    </div>
                    <!-- Login input -->
                    <div class="form-outline mb-4">
                        <input name="login" type="text" id="loginInput" class="form-control form-control-lg"
                               placeholder="Enter a login"/>
                        <label class="form-label" for="loginInput">Login</label>
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-3">
                        <input name="password" type="password" id="passInput" class="form-control form-control-lg"
                               placeholder="Enter password"/>
                        <label class="form-label" for="passInput">Password</label>
                    </div>

                    <div class="text-center text-lg-start mt-4 pt-2">
                        <button type="submit" class="btn btn-primary btn-lg"
                                style="padding-left: 2.5rem; padding-right: 2.5rem;">Login
                        </button>
                        <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="/register"
                                                                                          class="link-danger">Register</a>
                        </p>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>
</body>
</html>


