<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Maintenance Dates</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/boostrap/css/boostrap.min.css}"/>
</head>
<body>
<div class="container-fluid text-center">
    <div><h2>Maintenance Dates</h2></div>
    <div>
        <a class="h4" th:href="@{/}">Add</a>
    </div>
    <div>
        <table border="1">
            <thead class="thead-dark">
            <tr>
                <th>Date</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each=" : ${}">
                <tr>
                    <td>[[${date}]]</td>
                    <td>[[${description}]]</td>
                    <td>
                        <a class="h4 mr-3" th:href="@{'/' + ${}}">Edit</a>
                        <a class="h4 mr-3" th:href="@{'/' + ${}}">Delete</a>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>