<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:insert="~{basicHead}"></head>
<head>
    <title>Maintenance Dates</title>

    <link th:href="@{/css/header-style.css}" rel="stylesheet">
    <link th:href="@{/css/table.css}" rel="stylesheet">
</head>
<body>
<div th:insert="~{/navbar}"></div>

<div class="container-fluid">
    <div class="header-h1"><h1>Hardware's Maintenance Dates</h1></div>

    <div class="btn-group">
        <a sec:authorize="hasAuthority('ROLE_Admin')"
           th:href="@{'/hardware/' + ${hardware.uuid} + '/maintenanceDates/add'}" type="button"
           class="btn btn-primary mb-2">Add Maintenance</a>
        <a href="/hardware" type="button"
           class="btn btn-secondary mb-2">Back to Hardware</a>
    </div>

    <div class="text-center">
        <table class="table table-bordered">
            <thead class="thead-dark">
            <tr class="text-center">
                <th>Date</th>
                <th>Description</th>
                <th sec:authorize="hasAuthority('ROLE_Admin')">Action</th>
            </tr>
            </thead>

            <tbody class="text-center">
            <th:block th:each="date : ${datesSet}">
                <tr>
                    <td>[[${date.date}]]</td>
                    <td>[[${date.description}]]</td>

                    <td sec:authorize="hasAuthority('ROLE_Admin')" style="width: 200px">
                        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                            <div class="btn-group mx-auto" role="group" aria-label="Second group">
                                <a th:href="@{'/hardware/' + ${hardwareUuid} + '/maintenanceDates/' + ${date.uuid} + '/edit'}" type="button"
                                   class="btn btn-outline-primary">Edit</a>
                                <button th:onclick="|@{'doDelete(\'' + ${hardware.uuid} + '\', \'' + ${date.uuid} + '\');'}|"
                                        type="button"
                                        class="btn btn-outline-danger">Remove
                                </button>
                            </div>
                        </div>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</div>

<script src="/js/maintenanceDates.js"></script>

</body>
</html>