<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{basicHead}"></head>
<head>
    <title>Maintenance Date</title>

    <link th:href="@{/css/header-style.css}" rel="stylesheet">
    <link th:href="@{/css/field-mark.css}" rel="stylesheet">
</head>
<body>
<div th:insert="~{/navbar}"></div>

<div class="container-fluid">
    <div class="header-h1"><h1>New Hardware's Maintenance Date</h1></div>

    <form th:object="${date}" style="max-width: 400px; margin: 0 auto">

        <div class="border border-secondary rounded p-3 text-center">
            <input id="uuid" type="hidden" th:field="*{uuid}">
            <div class="form-group row mb-2">
                <label class="col-sm-4 col-form-label">Date<span class="necessary-mark">*</span></label>
                <div class="col-sm-8">
                    <label>
                        <input type="date" th:field="*{date}" class="form-control" required minlength="2"
                               maxlength="72" id="date"/>
                    </label>
                </div>
            </div>
            <div class="form-group row mb-2">
                <label class="col-sm-4 col-form-label">Description<span class="necessary-mark">*</span></label>
                <div class="col-sm-8">
                    <label>
                        <input type="text" th:field="*{description}" class="form-control" required minlength="2"
                               maxlength="72" id="description"/>
                    </label>
                </div>
            </div>

            <div class="btn-group" role="group">
                <button th:onclick="|@{'save(\'' + ${hardware.uuid} + '\', uuid)'}|"
                        type="button" class="btn btn-outline-success">Save
                </button>
                <a type="button" class="btn btn-outline-primary"
                   th:href="@{'/hardware/maintenanceDates/' + ${hardware.uuid}}">Back
                </a>
            </div>
        </div>

    </form>
</div>

<script src="/js/maintenanceDates.js"></script>

</body>
</html>